<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--
        + Directiva
        + Propiedad vinculante
      -->
      <a
        [routerLink]="['/servers', 5, 'edit']"
        [queryParams]="{ allowEdit: '1' }"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--
      Añadir ruta absoluta  (navega a localhost:4200 servers)
      no ha ruta relativa (intenta ir a /serversServers)
    -->
    <button class="btn btn-primary" (click)="onRefresh()">Refresh</button>
    <br />
    <a routerLink="/users">Go to Users</a>
    <button class="btn btn-primary" (click)="onLoadUsers(1)">
      Load Users 1
    </button>

    <!-- 
      Usar los params y fragmentos de consulta tanto en el enfoque
      de enrutamiento programático, llamándolo desde 
      typscript o el routerLink
     -->
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
  </div>
</div>
